.recipes-container {
  h2 {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-black);
    margin-top: 48px;
  }

  p {
    color: var(--color-black);
    margin-top: 24px;
    font-size: 24px;
    border-bottom: 1px solid var(--color-gray);
  }
}

@media screen and (min-width: 769px) {
  .recipes-container {
    h2 {
      font-size: 32px;
    }
  }
}