.recipes-container {
  padding-bottom: 64px;
  overflow: hidden;

  h1 {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    color: black;
  }

  .recipes-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 48px;
  }
}

.no-data-found {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));

  h2 {
    font-weight: 400;
    color: var(--color-deep-gray);
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .recipes-container {
    h1 {
      font-size: 32px;
    }

    .recipes-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 992px) {
  .recipes-container {
    .recipes-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}