h1 {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
}

.recipes-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 48px;
}

.no-data-found {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 50px));

  h2 {
    font-weight: 400;
    color: var(--color-deep-gray);
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 40px;
  }

  .recipes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 992px) {
  .recipes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
