.home {
  margin-bottom: 256px;

  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  .featured-recipes {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 24px;
  }
} 

@media screen and (min-width: 769px) {
  .home {
    h2 {
      font-size: 32px;
    }

    .featured-recipes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .home {
    .featured-recipes {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}