h1 {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
}

.recipes-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 64px;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 8px;

  button {
    padding: 8px 12px;
    border: 1px solid var(--color-deep-gray);
    background-color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
      
      &.active {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-color: var(--color-primary);
      }

      &:hover:not(.active):not(:disabled) {
        background-color: #f0f0f0;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    .pagination-button {
      background-color: var(--color-primary);
        color: var(--color-white);
        border-color: var(--color-primary);

      &:disabled {
        background-color:var(--color-deep-gray);
        border-color: var(--color-deep-gray);
      }
    }
  }
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 40px;
  }

  .recipes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 992px) {
  .recipes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}