h1 {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
}

.recipes-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 64px;
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 40px;
  }

  .recipes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 992px) {
  .recipes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}