.profile-container {
    .username {
        text-transform: capitalize;
        color: var(--color-black);
    }

    .tabs {
        margin: 64px 0 24px 0;
        border-bottom: 4px solid var(--color-gray);
    }
}