.profile-container {
  .username {
    text-transform: capitalize;
    color: var(--color-black);
    text-align: left;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 0 24px 0;
    border-bottom: 4px solid var(--color-gray);

    .add-recipe-btn {
      height: 50px;
      border-radius: 80px;
      padding: 0.6rem 1.2rem;
      border: none;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      font-size: 18px;
      font-weight: 600;
      background-color: var(--color-white);
    }

    .add-recipe-btn.active {
      color: var(--color-white);
      background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
    }
  }
}