.profile-container {
  .username {
    text-transform: capitalize;
    color: var(--color-black);
    text-align: left;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 0 0 0;
    padding-bottom: 24px;
    border-bottom: 4px solid var(--color-gray);

    .add-recipe-btn {
      height: 50px;
      border-radius: 80px;
      padding: 0.6rem 1.2rem;
      color: var(--color-primary);
      font-size: 18px;
      font-weight: 600;
      background-color: var(--color-white);
      border: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }

    .add-recipe-btn.active {
      color: var(--color-white);
      background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
      box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
      border: none;
    }
  }
}