.profile-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(to right, #E36414, #FB8B24);
}

.dropdown-content {
    padding: 1rem;
    gap: 0.5rem;
    margin-top: 10px;
    justify-content: end;
}