.recipe-card {
  width: 100%;
  height: 340px;
  background: var(--color-white);
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transition: transform 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.04);
  }

  img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  .recipe-content {
    padding: 14px 16px;

    h3 {
      font-size: 18px;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    .author {
      font-size: 16px;
      color: var(--color-black);
      margin: 8px 0;
    }
  }

  .recipe-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .likes {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--color-black);
    }

    .badge {
      border: 1px solid var(--color-secondary);
      border-radius: 20px;
      padding: 3px 10px;
      font-size: 12px;
      font-weight: 500;
      color: var(--color-secondary);
      cursor: default;
    }
  }
}

@media screen and (min-width: 769px) {
  .recipe-card {
    height: 360px;

    img {
      height: 230px;
    }
  }
}

@media (min-width: 1200px) {
  .recipe-card {
    height: 325px;

    img {
      height: 180px;
    }
  }
}