.navbar {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 96px 24px;
    box-shadow: 0 8px 0 0 rgba(69, 69, 69, 0.15);

    .brand {
        a {
            text-decoration: none;
        }

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    }

    .filters {
        display: flex;
        align-items: center;
        gap: 64px;
    }

    .sections {
        display: flex;
        align-items: center;
        gap: 64px;

        a {
            font-size: 20px;
            text-decoration: none;
            color: #0D1B2A;
            font-weight: 400;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                color: #FB8B24;
            }
        }
    }
}