.navbar {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 8px 0 0 rgba(69, 69, 69, 0.15);
  background-color: var(--color-white);
  flex-wrap: wrap;
  z-index: 999;

  .brand {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 16px;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }

  .filters {
    display: none;
    order: 3;
    width: 100%;
  }

  .sections {
    gap: 16px;
    display: flex;
    align-items: center;
    order: 2;

    a:not(.profile li a) {
      display: none;
    }

    a.active {
      color: var(--color-primary);
    }

    .search-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      height: 40px;
      width: 40px;
      flex-shrink: 0;
    }
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    flex-wrap: nowrap;
    padding: 24px;
    height: auto;

    .filters {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-right: auto;
      order: 2;
      width: auto;
      margin-left: 50px;
    }

    .sections {
      display: flex;
      align-items: center;
      gap: 32px;
      order: 3;
      margin-left: 50px;

      a {
        display: inline-block;
        color: #0d1b2a;
        font-size: 16px;
        font-weight: 400;
        transition: all 0.3s ease;

        &:hover {
          color: var(--color-primary);
        }
      }

      a:not(.profile li a) {
        display: inline-block;
      }

      .search-btn {
        display: none;
      }
    }

    .brand {
      margin-right: 0;
      order: 1;
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 24px 96px;

    .brand img {
      width: 100px;
      height: 100px;
    }

    .filters {
      gap: 24px;
    }

    .sections {
      gap: 48px;

      a {
        font-size: 18px;
      }
    }
  }
}
