.movie-card {
    position: relative;
    width: 100%;
    border-radius: 24px;
    height: 340px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: transform 0.2s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.04);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
    }

    p {
        position: absolute;
        left: 24px;
        bottom: 24px;
        font-size: 18px;
        font-weight: 600;
        z-index: 3;
        color: var(--color-white);
    }
    
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 16px;
        color: var(--color-white);
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
        z-index: 2;
    }
}

