textarea {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border-width: 2px;
    font-size: 16px;
    padding: 10px 20px;
    color: #0d1b2a;
    background-color: none;
    border: 2px solid var(--color-deep-gray);
    resize: none;

    &:focus {
        outline: none;
        border: 2px solid var(--color-primary);
    }

    &::placeholder {
        color: var(--color-deep-gray);
        font-weight: 500;
    }

    &::-webkit-input-placeholder {
        color: var(--color-deep-gray);
    }

    &:-ms-input-placeholder {
        color: var(--color-deep-gray);
    }
}