.movies-container {
  padding-bottom: 64px;
  overflow: hidden;

  h1 {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    color: black;
  }

  .movies-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 48px;
  }
}

@media screen and (min-width: 769px) {
  .movies-container {
    h1 {
      font-size: 32px;
    }

    .movies-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1200px) {
  .movies-container {
    .movies-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}