.tab-bar {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;

  li a.active {
    height: 50px;
    border-radius: 80px;
    padding: 0.6rem 1.2rem;
    border: none;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  }

  li a {
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
    color: #fff;
  }

  li a:not(.active) {
    font-size: 16px;
    color: var(--color-deep-gray);
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-primary);
    }
  }
}

@media screen and (max-width: 769px) {
  .tab-bar {
    margin-bottom: 16px;
  }
}