.tab-bar {
    max-width: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 24px;

    li.active button {
        height: 50px;
        border-radius: 80px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        background: linear-gradient(to right, #E36414, #FB8B24);
    }

    li button {
        background: none;
        outline: none;
        border: none;
        box-shadow: none;
    }

    li button a {
        color: #fff;
    }

    li:not(.active) button a {
        color: #D9D9D9;
        cursor: default;
    }
}