@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-white: #fff;
  --color-black: #0d1b2a;
  --color-gray: #f7f7f7;
  --color-deep-gray: #d9d9d9;
  --color-primary: #fB8b24;
  --color-secondary: #e36414;
  --color-tertiary: #9a031e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html, #root {
  width: 100%;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
} 

p, span, a, button, label, li, input, textarea, select {
  font-family: 'Open Sans', sans-serif;
}

.dropdown-content {
    padding: 1rem;
    gap: 0.5rem;
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 8px;

    button {
      padding: 8px 12px;
      border: 1px solid var(--color-deep-gray);
      background-color: var(--color-white);
      border-radius: 4px;
      cursor: pointer;
      
      &.active {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-color: var(--color-primary);
      }

      &:hover:not(.active):not(:disabled) {
        background-color: #f0f0f0;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    .pagination-button {
      background-color: var(--color-primary);
        color: var(--color-white);
        border-color: var(--color-primary);

      &:disabled {
        background-color:var(--color-deep-gray);
        border-color: var(--color-deep-gray);
      }
    }
  }

