@import 'tailwindcss';
@plugin "daisyui";

:root {
  --color-white: #fff;
  --color-black: #0d1b2a;
  --color-gray: #f7f7f7;
  --color-deep-gray: #d9d9d9;
  --color-primary: #fb8b24;
  --color-secondary: #e36414;
  --color-tertiary: #9a031e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

p,
span,
a,
button,
label,
li,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
}

button:focus {
  outline: #fb8b24 solid 2px !important;
}

.dropdown-content {
  padding: 1rem;
  gap: 0.5rem;
  margin-top: 10px;
}

input[type='checkbox'] {
  width: 24px;
  height: 24px;
  border-width: 2px;
  border-radius: 4px;
  cursor: pointer;
}