@import "tailwindcss";
@plugin "daisyui";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html, #root {
  width: 100%;
  min-height: 100vh;
}

.dropdown-content {
    padding: 1rem;
    gap: 0.5rem;
    margin-top: 10px;

    li a {
      font-size: 16px;
      color: #0D1B2A;
      font-weight: 400;
    }
}