.featured-card {
    width: 100%;
    height: 340px;
    background: #fff;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    transition: transform 0.2s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.04);
    }

    img {
        width: 100%;
        height: 210px;
        object-fit: cover;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }

    .featured-content {
        padding: 14px 16px;

        h3 {
            font-size: 18px;
            font-weight: 600;
        }

        .author {
            font-size: 16px;
            color: #0D1B2A;
            margin: 8px 0;
        }
    }

    .featured-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .likes {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #0D1B2A;
        }

        .badge {
            border: 1px solid #e36414;
            border-radius: 20px;
            padding: 3px 10px;
            font-size: 12px;
            font-weight: 500;
            color: #e36414;
            cursor: default;
        }
    }

}

@media screen and (min-width: 769px) {
    .featured-card {
        height: 360px;

        img {
            height: 230px;
        }
    }
}

@media (min-width: 1200px) {
    .featured-card {
        height: 300px;

        img {
            height: 180px;
        }
    }
}