.movie-detail {
    padding: 20px 0;

    .movie-page-content {
        display: flex;
        flex-direction: column;
        gap: 48px;


        .movie-info-container {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 360px;

            .movie-title-mobile {
                h1 {
                    font-size: 24px;
                    font-weight: 700;
                    color: black;
                    text-align: left;
                }
            }

            .movie-poster {
                width: 100%;
                height: 300px;
                border-radius: 24px;
                flex-shrink: 0;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 24px;
                    object-fit: cover;
                }
            }

            .movie-synopsis-container .synopsis {
                font-size: 16px;
                line-height: 1.6;
                color: var(--color-text);
                text-align: justify;

                strong {
                    font-weight: 600;
                }
            }
        }

        .associated-recipes {
            gap: 24px;
            display: flex;
            flex-direction: column;

            .recipes-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;

                h2 {
                    font-size: 24px;
                    font-weight: 600;
                    color: black;
                }

                .see-all {
                    color: #fb8b24;
                    font-size: 18px;
                    text-decoration: none;
                    font-weight: 500;
                    transition: all 0.3s ease;
                    background: none;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/* Tablette (769px et plus) */
@media screen and (min-width: 769px) {
    .movie-detail {
        .movie-page-content {
            display: flex;
            flex-direction: row;

            .movie-info-container {
                align-self: start;

                .movie-poster {
                    width: 360px;
                }

                .movie-title-mobile {
                    margin: 0 0 12px 0;

                    h1 {
                        font-size: 32px;
                        margin: 0;
                        line-height: 1.1;
                    }
                }
            }

            .associated-recipes {
                .recipes-header {
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;
                    margin: 0 0 12px 0;

                    h2 {
                        font-size: 32px;
                        margin: 0;
                        line-height: 1.1;
                    }
                }

                .recipes-list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .movie-detail {
        .movie-page-content {
            .associated-recipes {
                .recipes-list {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}