.movie-detail {
    padding: 20px 0;

    .movie-page-content {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .movie-info-container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        
        .movie-title-mobile h1 {
            font-size: 32px;
            font-weight: 700;
        }
        
        .movie-poster {
            width: 100%;
            max-width: 300px;
            height: auto;
            border-radius: 16px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
        }

        .movie-synopsis-container .synopsis {
            font-size: 16px;
            line-height: 1.6;
            color: var(--color-text);
            text-align: justify;

            strong {
                font-weight: 600;
            }
        }
    }

    .associated-recipes {
        .recipes-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            h2 {
                font-size: 24px;
                font-weight: 600;
            }

            .see-all {
                color: #fb8b24;
                font-size: 18px;
                text-decoration: none;
                font-weight: 500;
                transition: all 0.3s ease;
                background: none;
                border: none;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .recipes-grid {
            display: flex;
            flex-direction: column; 
            gap: 24px;
        }
    }
}

/* Tablette (769px et plus) */
@media screen and (min-width: 768px) {
    .movie-detail {
        .movie-page-content {
            //Mise en page principale en GRID : 1/4 Film (gauche) et 3/4 Recettes (droite)
            display: grid;
            grid-template-columns: 1fr 3fr; 
            gap: 40px;
        }

        .movie-info-container {
            // L'image prend toute la largeur de la colonne 1/4
            .movie-poster {
                max-width: 100%; 
            }
        }

        .associated-recipes {
            .recipes-header h2 {
                font-size: 28px;
            }

            .recipes-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr); 
                gap: 20px;
            }
        }
    }
}

/* Desktop (992px et plus) */
@media (min-width: 1200px) {
    .movie-detail {
        .associated-recipes {
            .recipes-header h2 {
                font-size: 32px;
            }

            .recipes-grid {
                grid-template-columns: repeat(3, 1fr); 
            }
        }
    }
}