.recipe-cover {
    position: relative;
    height: 300px;
    border-radius: 24px;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 64px;

    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        object-fit: cover;
        z-index: 0;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 16px;
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 1;
    }

    .recipe-content {
        position: relative;
        padding: 24px;
        width: 300px;
        z-index: 2;

        h1 {
            font-size: 28px;
            font-weight: 600;
            color: #fff;
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .recipe-infos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        .info-item {
            display: flex;
            align-items: center;
            gap: 5px;

            p {
                font-size: 12px;
                color: var(--color-white);
                font-weight: 600;
            }
        }

        button {
            height: 40px;
            border-radius: 80px;
            border: none;
            color: var(--color-white);
            font-size: 12px;
            font-weight: 600;
            background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
            box-shadow: none;
        }
    }
}

@media screen and (min-width: 769px) {
    .recipe-cover {
        height: 580px;

        .recipe-content {
            padding: 48px;
            width: 450px;

            h1 {
                font-size: 40px;
            }
        }

        .recipe-infos {
            .info-item p {
                font-size: 16px;
            }

            button {
                height: 50px;
                border-radius: 100px;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}