.search {
    width: 60%;
    height: 50px;
    border-radius: 80px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D9D9D9;

    input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 18px;

    &::placeholder {
      font-size: 18px;
      color: #D9D9D9;
    }

    &::-webkit-input-placeholder {
      font-size: 18px;
      color: #D9D9D9;
    }

    &:-ms-input-placeholder {
      font-size: 18px;
      color: #D9D9D9;
    }
  }
}