.search {
  width: 100%;
  height: 40px;
  padding: 10px 20px;

  input {
    font-size: 16px;
    width: 40%;

    &::placeholder {
      font-size: 16px;
    }

    &::-webkit-input-placeholder {
      font-size: 16px;
    }

    &:-ms-input-placeholder {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 769px) {
  .search {
    width: 60%;
    height: 50px;
    border-radius: 80px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-deep-gray);

    input {
      border: none;
      outline: none;
      flex: 1;
      font-size: 18px;

      &::placeholder {
        font-size: 18px;
        color: var(--color-deep-gray);
      }

      &::-webkit-input-placeholder {
        font-size: 18px;
        color: var(--color-deep-gray);
      }

      &:-ms-input-placeholder {
        font-size: 18px;
        color: var(--color-deep-gray);
      }
    }
  }
}