@media screen and (min-width: 769px) {
  .categories-btn {
    height: 50px;
    border-radius: 80px;
    border: none;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    padding: 0.6rem 1.2rem;
    background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  }

  .dropdown-content {
    padding: 1rem;
    gap: 0.5rem;
    margin-top: 10px;

    li {
      display: flex;
      align-items: center;
      flex-direction: row;

      input[type='radio'] {
        margin-right: 10px;
      }
    }
  }
}
