.categories-btn {
    width: 175px;
    height: 50px;
    border-radius: 80px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(to right, #E36414, #FB8B24);
}

.dropdown-content {
    padding: 1rem;
    gap: 0.5rem;
    margin-top: 10px;

    li {
        display: flex;
        flex-direction: row;

        input[type="checkbox"] {
            margin-right: 10px;
        }
    }
}