.categories-btn {
  width: 125px;
  height: 40px;
  font-size: 16px;
}

@media screen and (min-width: 769px) {
  .categories-btn {
    width: 175px;
    height: 50px;
    border-radius: 80px;
    border: none;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  }

  .dropdown-content {
    padding: 1rem;
    gap: 0.5rem;
    margin-top: 10px;

    li {
      display: flex;
      flex-direction: row;

      input[type='checkbox'] {
        margin-right: 10px;
      }
    }
  }
}
